HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
bin

.vscode/

src/main/resources/application.properties

ssh_check.sh
ssh_stop.sh
ssh_upload.sh
start.sh